html {
  font-size: 14px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

button:hover,
a:hover {
  opacity: 0.8;
}